<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <h2>Equipo {{ ingreso.equipo }} listo para entrega</h2>
    <p>Estimado {{ ingreso.funcionario.nombre }},</p>
    <p>Le informamos que el equipo {{ ingreso.equipo }} ha sido reparado y se encuentra listo para su entrega.</p>
    <p>Por favor, acuda al taller para retirar el equipo.</p>
    <p>Atentamente,</p>
    <p>El equipo de soporte técnico</p>  
</body>
</html>